<h2> Redigera: <%= @project.name %> </h2>

<%= form_for @project do |p| %>
	<%= p.label :name %>
	<%= p.text_field :name %> 
	<%= p.label :description %>
	<%= p.text_field :description %>
	<%= p.label :start_date %>
	<%= p.date_select :start_date %>
	<%= p.label :end_date %>
	<%= p.date_select :end_date %>

	<p>
		<% @users.each do |u| %>
          <p>
            <%= check_box_tag 'user_ids[]', u.id, u.projects.include?(@project) %>
            <%= "#{u.first_name} #{u.last_name}" %>
          </p>
        <% end %>
	</p>

	
	<%= p.submit "Redigera projekt" %>

<% end %>

<%= link_to "Tillbaka", projects_path %>