

<h1><%= @project.name %></h1> <br/>
<p><%= @project.description %> </p>

<%= @project.start_date %> <br/>
<%= @project.end_date %> <br/>

<h4> Users </h4>

<% @users.each do |u| %>
          <p>
           
            <%= "#{u.first_name} #{u.last_name}" %>
          </p>
<% end %>

<h4> Tickets </h4>

<p>
<% @tickets.each do |ticket| %>
			<p>
				<%= link_to "#{ticket.name}", project_ticket_path(@project, ticket) %>
			</p>
<% end %>
</p>

<%= link_to "Add ticket", @project.id.to_s + new_ticket_path, :class => "btn" %>

<% if session[:user_id] == @project.owner_id %>
	<%= link_to "Edit Project", edit_project_path, :class => "btn btn-info" %> 

	<%= link_to 'X', project_path(@project), :confirm => 'Do you really want to delete this project?', :method => :delete, :class => "btn btn-danger" %> <br/>
<% end %> <br/>

<%= link_to "Back", projects_path %>