<h1> <%= @ticket.name %> </h1>

<p>
	<%= @ticket.description %>
</p>

<p>
	<%= @ticket.status.status_name %>
</p>

<p>
<% if session[:user_id] == @ticket.user_id %>
	<%= link_to "Edit", edit_project_ticket_path, :class => "btn btn-info" %>
	<%= link_to 'X', project_ticket_path(@ticket.project_id, @ticket), :confirm => 'Eru säker?', :method => :delete, :class => "btn btn-danger" %>
<% elsif session[:user_id] == @project.owner_id %>
	<%= link_to "Edit", edit_project_ticket_path, :class => "btn btn-info" %>
	<%= link_to 'X', project_ticket_path(@ticket.project_id, @ticket), :confirm => 'Eru säker?', :method => :delete, :class => "btn btn-danger" %>
<% end  %>

<br/>
<%= link_to "Back", project_path(@project.id) %>
<br/>


</p>