<h1> <%= @ticket.name %> </h1>

<p>
	<%= @ticket.description %>
</p>

<p>
	<%= @ticket.status.status_name %>
</p>

<p>
<%= link_to "Redigera", edit_project_ticket_path %><br/>
<%= link_to "Tillbaka", project_path(@project.id) %>
<br/>
<%= link_to 'X', project_ticket_path(@ticket.project_id, @ticket), :confirm => 'Eru säker?', :method => :delete, :class => "btn btn-danger" %>

</p>